<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="../static/style/styles.css">
  <script src="https://kit.fontawesome.com/092da97724.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="header">
    <a href="index.html"><button class="me-btn"><h1 class="me">João Costa</h1></button></a>
    <div class="topbar">
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="projects.html">Projects</a>
      <a href="personal.html">Personal</a>
      <a href="contact.html">Contact</a>
    </div>
  </div>
  <p class="page-title">About</p>
  <div class="text-box">
    <div class="page-text">
      <p>Hi! My name is João Costa. I am 22 years old and recently graduated in 2024 with a degree in Computer and Informatics Engineering from Instituto Superior Técnico.</p>
      <p>My love for computer engineering began in high school. I was always fascinated by technology and how things work. When I first started college, I chose to study Electrical Engineering. But after my first year, I realized that my true passion was in computer science, so I decided to switch majors. This was the best decision I made because I enjoyed every moment of my studies in Computer and Informatics Engineering.</p>
      <p>Apart from my studies, I love playing sports. Being active helps me stay healthy and energetic. I have a variety of hobbies that I enjoy in my free time, such as reading, gaming, and learning new skills. These hobbies help me relax and have fun.</p>
      <p>I also spend time working on personal projects. These projects allow me to apply what I have learned and explore new ideas. I am very proud of these projects because they show my creativity and dedication.</p>
      <p>Thank you for visiting my portfolio. I am excited to share my work and experiences with you. I hope you enjoy exploring my projects as much as I enjoyed creating them!</p>
   </div>
  </div>
</body>
</html>
