<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal</title>
  <link rel="stylesheet" href="../static/style/styles.css">
  <script src="https://kit.fontawesome.com/092da97724.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="header">
    <a href="index.html"><button class="me-btn"><h1 class="me">João Costa</h1></button></a>
    <div class="topbar">
        <a href="../index.html">Home</a>
        <a href="about.html">About</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
    </div>
  </div>
  <p class="page-title">Personal</p>
  <div class="text-box">
    <div class="page-text">
      <p>Hi! My name is João Costa. I am 22 years old and recently graduated in 2024 with a degree in Computer and Informatics Engineering from Instituto Superior Técnico.</p>
      <p>My love for computer engineering began in high school. I was always fascinated by technology and how things work. When I first started college, I chose to study Electrical Engineering. But after my first year, I realized that my true passion was in computer science, so I decided to switch majors. This was the best decision I made because I enjoyed every moment of my studies in Computer and Informatics Engineering.</p>
      <p>Apart from my studies, I love playing sports. Being active helps me stay healthy and energetic. I have a variety of hobbies that I enjoy in my free time, such as reading, gaming, and learning new skills. These hobbies help me relax and have fun.</p>
      <p>I also spend time working on personal projects. These projects allow me to apply what I have learned and explore new ideas. I am very proud of these projects because they show my creativity and dedication.</p>
      <p>Thank you for visiting my portfolio. I am excited to share my work and experiences with you. I hope you enjoy exploring my projects as much as I enjoyed creating them!</p>
   </div>
  </div>
  <p class="page-subtitle">MEMBERSHIPS</p>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">Magma Studios Ambassador</p>
      <p>I attended Talent Bootcamp in both 2022 and 2024, engaging in two-day sessions focused on personal and professional development. These events equipped me with enhanced communication skills and valuable networking opportunities with over 200 companies.</p>
      <p>Since my first experience at Talent Bootcamp, I chose to become an ambassador for Magma Studio. As an ambassador, I inform students about the company and its events, encouraging participation. These events are highly sought-after opportunities that I actively engage in myself. It's been an exciting journey where teamwork, collaborative leadership, and clear communication are essential, whether with my team or the students I connect with.</p>
      <p>[10/2022 - Current]</p>
    </div>
  </div>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">STT - Security Club of IST</p>
      <p>I joined the IST security team because I'm interested in Cyber Security in IT. We do things like Capture The Flag challenges, where we solve tasks that mimic real security problems by finding vulnerabilities and hidden flags.</p>  
      <p>We also meet weekly to talk about issues and learn new techniques, and we work together to create security tools for competitions. I'm excited to help the team succeed through good communication and teamwork.</p>
      <p>[04/2023 - Current]</p>
    </div>
  </div>
  <p class="page-subtitle">SPORT</p>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">Taekwondo Martial Art</p>
      <p>I began practicing Taekwondo at the age of 10, achieving success at various levels by representing multiple clubs and earning numerous medals in both individual and team competitions. I proudly represented the academic association of IST in the National University Championship in 2022 and 2024, securing third place both times.</p>
      <p>As a certified referee in technical and combat categories for the federation, I officiated in two official Taekwondo competitions, making crucial decisions while promoting fair play and teamwork among a diverse group of 25 referees and over 250 athletes. Additionally, I have shared my expertise as a Taekwondo class monitor, leading over 10 sessions and instructing more than 30 students.</p>
    </div>
  </div>
  <p class="page-subtitle">INTERNSHIPS</p>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">IST - Assembly and Monitoring of autonomous vehicles</p>
      <p>During my internship at IST, I had the opportunity to work on assembling and monitoring autonomous vehicles, specifically a small robot called "Rasteirinho." Under the guidance of a university professor, I completed various courses aimed at understanding its components and operations. The robot, powered by two DC motors controlled by an Arduino nano, was equipped with a computer on top. My tasks included navigating predefined paths based on initial instructions, operating the robot via Bluetooth, and implementing a camera to follow black lines.</p>
      <p>[07/2018]</p>
    </div>
  </div>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">IST - Introduction to Telecommunications INTELE</p>
      <p>Throughout this internship, I have been introduced to the basics of telecommunications. The professors taughtall about long and short distance communication, the basics of electromagnetism, the working basis of theinternet and various pratic activities like soldering, fabrication of circuits boards and circuit assembly.</p>
      <p>[07/2019]</p>
    </div>
  </div>
  <p class="page-subtitle">VOLUNTEERING</p>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">Summer School Monitor</p>
      <p>I volunteered as a summer school monitor at a sports camp, overseeing 40 children for two weeks. Alongside other supervisors, we organized activities, ensured safety during outings to beaches and parks, and tackled challenges as a cohesive team of about 10 volunteers.</p>
    </div>
  </div>
  <p class="page-subtitle">CHALLENGES</p>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">Participation in Best of Class/IST Management Challenge 2023</p>
      <p>After participating in the IST Management Challenge 21/22, I led a four-member team at an event where we managed a virtual company. As team captain, I coordinated decisions on advertising, distribution, and production for three products, emphasizing effective teamwork and problem-solving. The event, including online and in-person components, provided valuable insights into strategy and management, culminating in a workshop sponsored by Accenture on Meta.</p>
      <p>[03/2023]</p>
    </div>
  </div>
</body>
</html>
