<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>About</title>
      <link rel="stylesheet" href="../static/style/styles.css" />
      <script src="https://kit.fontawesome.com/092da97724.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="header">
         <a href="../index.html"
            ><button class="me-btn">
               <h1 class="me">João Costa</h1>
            </button></a
         >
         <div class="topbar">
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
         </div>
      </div>
      <p class="page-title">About</p>
      <div class="text-box">
         <div class="page-text">
            <p>
               Hi! My name is João Costa. I am 22 years old and recently graduated in 2024 with a degree in Computer and
               Informatics Engineering from Instituto Superior Técnico.
            </p>
            <p>
               Apart from my studies, I love playing sports. I have a variety of hobbies that I enjoy in my free time,
               such as reading, gaming, and learning new skills. These hobbies help me relax and have fun.
            </p>
            <p>
               I also spend time working on personal projects. These projects allow me to apply what I have learned and
               explore new ideas. I am very proud of these projects because they show my creativity and dedication.
            </p>
            <p>
               Thank you for visiting my portfolio. I am excited to share my work and experiences with you. I hope you
               enjoy exploring my projects as much as I enjoyed creating them!
            </p>
         </div>
      </div>
      <p class="page-subtitle">EDUCATION</p>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">Master’s in Computer Science at Instituto Superior Técnico</p>
            <p>Focus areas: Distributed Systems, Cybersecurity and Software Development.</p>
            <p>Current classification: 15.</p>
            <p>[10/2024 - Current]</p>
         </div>
      </div>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">Bachelor’s in Computer Science at Instituto Superior Técnico</p>
            <p>Final classification: 14.</p>
            <p>[2021-2024]</p>
         </div>
      </div>
      <p class="page-subtitle">MEMBERSHIPS</p>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">NEIIST Member of Software Development Team</p>
            <p>
               Joined the development team of the IST Computer Science Student Association, contributing to a dynamic
               website featuring thesis topic search, a merchandise store, and detailed information on student
               initiatives. Enhanced teamwork abilities by contributing to the development of software that supports and
               benefits thousands of students.
            </p>
            <p>[04/2022 - Current]</p>
         </div>
      </div>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">Magma Studio Ambassador</p>
            <p>
               I participated in the Talent Bootcamp in both 2022 and 2024, and this was an event that improved both my
               personal and professional skills. These experiences boosted my communication abilities and allowed me to
               connect with over 200 companies.
            </p>
            <p>
               Inspired by my first Bootcamp experience, I decided to become an ambassador for Magma Studio. In this
               role, I introduce students to the company and its events, motivating them to get involved. These events
               offer incredible opportunities, and I make sure to participate in them too. This journey has been
               exciting, requiring teamwork and strong communication, both with my team and the students I engage with.
            </p>
            <p>[08/2022 - Current]</p>
         </div>
      </div>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">STT - Security Club of IST</p>
            <p>
               I joined the STT team to improve my knowledge of cybersecurity and gain experience in the field. Our team
               engages in activities such as Capture The Flag (CTF) challenges, where we solve real world security
               problems. These exercises push me to analyze vulnerabilities, think strategically, and apply creative
               solutions to complex issues.
            </p>
            <p>
               Beyond the technical side, being part of STT has helped me improve my problem solving abilities and
               teamwork. Collaborating with others to find more innovative cybersecurity challenges has improved my
               communication, adaptability, and ability to work under pressure.
            </p>
            <p>[08/2023 - Current]</p>
         </div>
      </div>
      <p class="page-subtitle">SPORT</p>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">Taekwondo Martial Art</p>
            <p>
               I started practicing Taekwondo when I was 10 years old and have competed in over 200 tournaments. One of
               my biggest achievements was representing IST at the National University Championship in 2022, 2024, and
               in 2025 competing against top athletes winning 3rd place in all three years.
            </p>
            <p>
               Besides competing, I was also a certified referee and have officiated at district and national
               championships, making sure fair play in the matches. I have also had the chance to teach Taekwondo to
               over 30 younger athletes, helping them improve their skills and confidence.
            </p>
            <p>
               This journey has taught me discipline, resilience, and leadership. Whether training, refereeing, or
               coaching, I’ve learned that dedication and hard work are key aspects not just in sports, but in every
               other aspect of life to be successful.
            </p>
         </div>
      </div>

      <p class="page-subtitle">VOLUNTEERING</p>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">Summer School Monitor</p>
            <p>
               I volunteered as a summer school monitor at a sports camp, where I was responsible for supervising 40
               children over two weeks. Working with a team of about 10 other volunteers, we planned and led fun
               activities, making sure the children were engaged and enjoying their time.
            </p>
            <p>
               We also ensured their safety during outside activities, like going to beaches and parks, staying alert
               and handling any challenges that came up. This experience taught me how to work as part of a team, stay
               organized, and take responsibility. It was a rewarding opportunity to help create a safe and enjoyable
               experience for the kids.
            </p>
         </div>
      </div>
      <p class="page-subtitle">INTERNSHIPS</p>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">IST - Assembly and Monitoring of autonomous vehicles</p>
            <p>
               During my internship at IST, I had the opportunity to work on assembling and monitoring autonomous
               vehicles, specifically a small robot called "Rasteirinho." Under the guidance of a university professor,
               I completed various courses aimed at understanding its components and operations. The robot, powered by
               two DC motors controlled by an Arduino nano, was equipped with a computer on top. My tasks included
               navigating predefined paths based on initial instructions, operating the robot via Bluetooth, and
               implementing a camera to follow black lines.
            </p>
            <p>[07/2018]</p>
         </div>
      </div>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">IST - Introduction to Telecommunications INTELE</p>
            <p>
               Throughout this internship, I have been introduced to the basics of telecommunications. The professors
               taughtall about long and short distance communication, the basics of electromagnetism, the working basis
               of theinternet and various pratic activities like soldering, fabrication of circuits boards and circuit
               assembly.
            </p>
            <p>[07/2019]</p>
         </div>
      </div>
      <p class="page-subtitle">CHALLENGES</p>
      <div class="text-box">
         <div class="page-text">
            <p class="page-text-title">Participation in Best of Class/IST Management Challenge 2023</p>
            <p>
               After taking part in the IST Management Challenge 21/22, I led a team of four in an event where we ran a
               virtual company. As team captain, I guided our decisions on advertising, distribution, and production for
               three products, focusing on teamwork and problem-solving.
            </p>
            <p>
               The event included both online and in-person sessions, giving me valuable experience in strategy and
               management. It all led to a final workshop, sponsored by Accenture, on Meta, where we learned even more
               about business and leadership.
            </p>
            <p>[03/2023]</p>
         </div>
      </div>
   </body>
</html>
