<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../static/style/styles.css">
  <script src="https://kit.fontawesome.com/092da97724.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="header">
    <a href="index.html"><button class="me-btn"><h1 class="me">João Costa</h1></button></a>
    <div class="topbar">
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="projects.html">Projects</a>
      <a href="contact.html">Contact</a>
    </div>
  </div>
  <p class="page-title">Contact</p>
  <div class="contact-text-box">
    <div class="page-text">
      <p><i class="fa-regular fa-envelope"></i> Personal Email: joaoluissaraivacosta@gmail.com</p>
      <p><i class="fa-regular fa-envelope"></i> Institucional Email: joaolscosta@tecnico.ulisboa.pt</p>
    </div>
  </div>
</body>
</html>
