<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>João Costa</title>
  <link rel="stylesheet" href="../static/style/styles.css">
  <script src="https://kit.fontawesome.com/092da97724.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="header">
    <h1 class="me">João Costa</h1>
    <div class="topbar">
      <a href="index.html">About</a>
      <a href="index.html">Projects</a>
      <a href="index.html">Personal</a>
      <a href="index.html">Contact</a>
    </div>
  </div>
  <div class="center-top">
    <img class="me-photo" src="../static/images/photo.jpg" alt="photo">
  </div>
  <div class="text">
    <p>Hi, I'm <span class="text-bold"> João!</span></p>
    <p class="degree">Computer Science and Engineering Student</p>
  </div>
  <div class="link-section">
    <button class="cv-btn"><i class="fa-solid fa-download"></i> CV</button>
    <button class="round-btn"><i class="fa-brands fa-github"></i></button>
    <button class="round-btn"><i class="fa-brands fa-linkedin-in"></i></button>
  </div>
</body>
</html>
