<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel="stylesheet" href="../static/style/styles.css">
  <script src="https://kit.fontawesome.com/092da97724.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="header">
    <a href="../index.html"><button class="me-btn"><h1 class="me">João Costa</h1></button></a>
    <div class="topbar">
      <a href="../index.html">Home</a>
      <a href="about.html">About</a>
      <a href="projects.html">Projects</a>
      <a href="contact.html">Contact</a>
    </div>
  </div>
  <p class="page-title">Projects</p>
  <p class="page-subtitle">OPEN SOURCE CONTRIBUTIONS:</p>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">Bug Fix: Enhancing the Transparent Headbar for YouTube Chrome Extension</p>
      <p>I fixed a bug in an open-source Chrome extension for YouTube. The feature to make the headbar transparent was not looking good because it only removed the background. I improved it to look more clean and minimal when scrolling.
      <p>My fix involved updating the CSS and JavaScript to ensure the headbar has a nice, consistent transparent effect. This makes the YouTube interface look better and less distracting, allowing users to enjoy their videos more.</p>
      <p>[03/2024]</p>
      <a href="https://github.com/code-charity/youtube/pull/2100" target="_blank">
        <button class="project-btn"><i class="fa-brands fa-github"></i></button>
      </a>
    </div>
  </div>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">Feature: Improved Shortcut Management for YouTube Extension - [05/2024]</p>
      <p>Previously, users could assign the same shortcut to multiple functions, causing confusion. We fixed this by adding a feature that alerts users if a shortcut is already in use. Now, when you choose a shortcut, the extension asks if it's okay to remove it from other functions. This prevents conflicts and aligns with how shortcuts work on other websites and apps.</p>
      <p>Instead of automatically replacing old shortcuts, the extension notifies you if a shortcut is taken. You can then decide to keep the old shortcut or assign the new one. If you choose the new one, it replaces the old assignment. Note that changes only apply after refreshing the page due to an existing bug.</p>
      <p>[05/2024]</p>
      <a href="https://github.com/code-charity/youtube/pull/2312" target="_blank">
        <button class="project-btn"><i class="fa-brands fa-github"></i></button>
      </a>
    </div>
  </div>
  <p class="page-subtitle">FROM COLLEGE:</p>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">Computer Networks Project</p>
      <p>This project aims to create a simple auction platform with an Auction Server (AS) and a User Application (User). The goal is to allow users to easily start, close, and participate in auctions.</p>
      <p>The AS handles auctions on a machine with a known IP and port. Multiple instances of the user application run on different machines and connect to the server over the internet. Once logged in, users can start auctions by describing the item, setting a starting price, and choosing how long the auction will last. They can also close their auctions, view auctions they've joined, or see all active auctions.</p>
      <p>Key features include bidding on auctions, viewing item images, and checking bid histories. Users can manage their accounts by logging out or unregistering from the server. Communication uses UDP for auction management and TCP for transferring item files, ensuring smooth interaction between users and the server.</p>
      <p>[01/2024]</p>
      <a href="https://github.com/joaolscosta/RC-Project/tree/main" target="_blank">
        <button class="project-btn"><i class="fa-brands fa-github"></i></button>
      </a>
    </div>
  </div>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">Data Base Project</p>
      <p>In this project, we aimed to design and implement the database schema. This involved creating tables such as customers, orders, payments, employees, products, and suppliers, ensuring data integrity with complex constraints using Stored Procedures and Triggers.</p>
      <p>A crucial aspect was developing advanced SQL queries for operational and sales data analysis, providing strategic insights into customer transactions and employee performance. Additionally, I participated in developing a web application integrated with the database, using technologies like Bootstrap for user-friendly interfaces. This application offered robust functionalities for both customers and managers, simplifying navigation, product search, and order management.</p>
      <p>[06/2023]</p>
      <a href="https://github.com/joaolscosta/BD-Project/tree/main" target="_blank">
        <button class="project-btn"><i class="fa-brands fa-github"></i></button>
      </a>
    </div>
  </div>
  <p class="page-subtitle">BY ME:</p>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">TaskMaster</p>
      <p>TaskMaster – Your Ultimate To-Do List is a web app I made to help manage tasks easily. On the front, users can add, remove, and see their to-do items. It uses basic HTML for structure and vanilla JavaScript for making it interactive and quick to respond.</p>  
      <p>For the backend, I used Flask, a simple Python framework, to handle how the app works behind the scenes. Flask is good for managing tasks like adding new ones or deleting old ones. This makes TaskMaster run smoothly and handle tasks well.</p>
      <p>[06/2024]</p>
      <a href="https://github.com/joaolscosta/taskmaster" target="_blank">
        <button class="project-btn"><i class="fa-brands fa-github"></i></button>
      </a>
    </div>
  </div>
  <div class="text-box">
    <div class="page-text">
      <p class="page-text-title">Calculator</p>
      <p>A simple web-based calculator that performs basic arithmetic operations. This project includes an HTML interface, styled with CSS, and functionality provided by JavaScript.</p>
      <p>[06/2024]</p>
      <a href="https://github.com/joaolscosta/Calculator" target="_blank">
        <button class="project-btn"><i class="fa-brands fa-github"></i></button>
      </a>
    </div>
  </div>
</body>
</html>
